{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Лівий блок з логотипом та текстом "Medical Center" -->
        <a class="navbar-brand" href="#">
            <img src="{% static "main_app/img/logo.png" %}" width="35" height="40" class="d-inline-block align-center" alt="Medical Logo">
            <span class="font-weight-bold">Medical Center </span></a>
    
        <!-- Кнопка "тоглера" для згортання/розгортання меню -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Правий блок з елементами навігації -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_admin or user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Адмін панель</a>
                    </li>
                {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_app:index' %}">Головна сторінка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_app:about' %}">Про нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_app:contact' %}">Контакти</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_app:login' %}">Авторизація</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'auth_app:profile' %}">Особистий кабінет</a>
                        <a class="dropdown-item" href="#">Медична карта</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'auth_app:logout' %}">Вийти</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>