{% extends "main_app/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'main_app/css/for_index.css' %}">
{% endblock  %}

{% block content %}
        <!--Банер-->
    <div class="single_slider d-flex align-items-center bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text ">
                        <h3> <span class="font-weight-bold">Ласкаво просимо!</span></h3>
                        <p>Звертайтесь до нас з будь-якими медичними питаннями та проблемами!<br>
                             Ми завжди тут, щоб допомогти вам повернутися до здорового життя.</p>
                        <a href="{% url 'main_app:about' %}" class="custom-button">Детальніше про нас..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Квадратики-->

    <div class="nav_box">
        <div class="container">
            <div class="box text-center">
                <h3>Авторизація</h3>
                <p>Ми дбаємо про безпеку ваших даних!<br>
                    Для роботи безпосередньо з внутрішньою системою медичного закладу необхідно авторизуватись.</p>
                <a href="{% url 'auth_app:login' %}" class="custom-button-white">Авторизуватись</a>
            </div>
            <div class="box text-center">
                <h3>Зв'язок</h3>
                <p>Наш заклад надає зворотній зв'язок через найпопулярніші меседжери.</p>
                <a href="{% url 'main_app:contact' %}" class="custom-button-white">Контакти</a>
            </div>
            <div class="box text-center">
                <h3>Медичні дані</h3>
                <p>На даному сайті є можливість безпосередньо переглути медичні записи для Вас, якщо Ви є пацієнтом даного закладу.</p>
                <a href="#" class="custom-button-white">Медична карта</a>
            </div>
        </div>
    </div>

        <!-- welcome_docmed_area_start -->
        <div class="welcome_docmed_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome_thumb">
                            <div class="thumb_1">
                                <img src="{% static "main_app/img/1.png" %}" alt="">
                            </div>
                            <div class="thumb_2">
                                <img src="{% static "main_app/img/2.png" %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome_docmed_info">
                            <h2>Welcome to Docmed</h2>
                            <h3>Best Care For Your <br>
                                    Good Health</h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.
                                    It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.</p>
                            <ul>
                                <li> <i class="flaticon-right"></i> Apartments frequently or motionless. </li>
                                <li> <i class="flaticon-right"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
                                <li> <i class="flaticon-right"></i> Voluptatem quia voluptas sit aspernatur. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- welcome_docmed_area_end -->
{% endblock content %}

{% block footer %}
        <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
            <div class="container text-center">
                <img src="{% static "main_app/img/logo.png" %} " width="35" height="40" class="d-inline-block align-center" alt="Medical Logo">
                <small>Company &copy; Medical center</small>
            </div>
          </footer>
{% endblock %}
