{% extends "cards_app/base_ok.html" %}
{% load static %}

{% block section_in_menu %}
    <h3 class ="title_card">Медкарта</h3>
{% endblock %}

{% block individually_for_role %}

  <div class='row'>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label">Дата народження</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label">Стать</label>
    <select class="form-select" aria-label="Default select example">
        <option value="1">Жінка</option>
        <option value="2">Чоловік</option>
  </select>
        </div>
    </div>
{% endblock %}                  


{% block Adress %}
<hr class='hr_cards'>
<h3 class='title_card'>Місце проживання</h3>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Місто</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Населений пункт</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Вулиця</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Блок</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Квартира</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>
  </div>
{% endblock %}
