 {% extends "base/base_ok.html" %}
{% load static %}
{% block dynamic_content %}
<table class="table table-hover">
  <thead>
    <tr class='font-weight-bold'>
      <th scope="col">#</th>
      <th scope="col">Назва вакцини</th>
      <th scope="col">Дата</th>
      <th scope="col">Серія</th>
      <th scope="col">Реакція</th>
      <th scope="col">Протипоказання</th>
    </tr>
  </thead>
  <tbody>
    {% for record in card_vaccinations %}
    <tr>
      <th class='font-weight-bold'>{{ record.id }}</th>
      <td>{{ record.vaccination.name }}</td>
      <td>{{ record.date_vaccine }}</td>
      <td>{{ record.consignment }}</td>
      <td>{{ record.reaction }}</td>
      <td>{{ record.contraindication }}</td>
    </tr>
    {% endfor %}
    {% if "ЛІКАРІ" in user_groups %}
    <tr>
      <th scope="row">+</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    {% endif %}
    {% if can_edit %}
    <td>
      {% comment %} <a href="{% url 'edit_vaccine' record.id %}" class="btn btn-warning btn-sm">Редагувати</a>
      <a href="{% url 'delete_vaccine' record.id %}" class="btn btn-danger btn-sm">Видалити</a>{% endif %} {% endcomment %}
      <a href='#' class="btn btn-warning btn-sm">Редагувати</a>
      <a href="#" class="btn btn-danger btn-sm">Видалити</a>{% endif %}
    </td></tr>
  </tbody>
</table>

{% comment %}
<table class="table table-hover">
    <thead>
      <tr class='font-weight-bold'>
        <th scope="col">#</th>
        <th scope="col">Назва вакцини</th>
        <th scope="col">Дата</th>
        <th scope="col">Серія</th>
        <th scope="col">Реакція</th>
        <th scope="col">Протипоказання</th>
      </tr>
    </thead>
    <tbody>
      {% for record in card_vaccinations %}
      <tr>
        <th class='font-weight-bold'>{{record.id}}</th>
        <td>{{record.vaccination.name}}</td>
        <td>{{record.date_vaccine}}</td>
        <td>{{record.consignment}}</td>
        <td>{{record.reaction}}</td>
        <td>{{record.contraindication}}</td>
      </tr>
      {% endfor %}
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>{% endcomment %}
{% endblock %} 
